@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

$text-color: #222;

body {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: $text-color;
}

h1 {
  font-family: 'Lilita One', sans-serif;
}

h2,
h3 {
  font-weight: 700;
}

a {
  &:link {
    text-decoration: none;
    color: dodgerblue;
    font-weight: 700;
  }

  &:visited {
    color: dodgerblue;
  }

  &:focus,
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.header {
  background-color: pink;
  grid-column: 1 / span 2;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  background-image: url(https://images.unsplash.com/photo-1527192491265-7e15c55b1ed2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80);
  background-size: cover;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 8px black;
}

.panel {
  header {
    display: flex;
    justify-content: space-between;
    background-color: #dedede;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.025rem;
    color: lighten($text-color, 20%);
  }

  li {
    padding: 1rem 0.5rem;
    & + li {
      border-top: thin solid #3333;
    }
  }
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin-bottom: 0.25rem;
  }
}

.notifications {
  grid-column: 2;

  .panel ul {
    max-height: 12rem;
    overflow-y: scroll;
    position: relative;

    .hack {
      background: linear-gradient(transparent, #fff);
      pointer-events: none;
      display: block;
      position: sticky;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2rem;
      padding: 0;
      border: none;
    }
  }

  p {
    color: lighten($text-color, 33%);
    font-size: 0.9rem;
  }

  .toggle {
    margin-right: 1rem;
  }
}

.companies {
  background-color: goldenrod;
  grid-row: 2 / span 2;
}

.interactions {
  background-color: seagreen;
  padding: 1rem;
}

.footer {
  grid-column: 1 / span 2;

  .love {
    color: darkmagenta;
  }
}

.container {
  max-width: 64rem;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
