@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

$text-color: #26242c;
$border-color: #38b6ba;
$link-color: #1fb5b4;
$panel-header-bg: #83c6d1;
body {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: $text-color;
  background-color: #76c1cc;
}

h1 {
  font-family: 'Lilita One', sans-serif;
}

h2,
h3 {
  font-weight: 700;
}

a {
  &:link {
    text-decoration: none;
    color: $link-color;
    font-weight: 700;
  }

  &:visited {
    color: $link-color;
  }

  &:focus,
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.container {
  max-width: 64rem;
  margin: 0 auto;
}

.home {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, min-content) auto min-content;
  border-left: thin solid $border-color;
  border-right: thin solid $border-color;
  background-color: white;
}

.header {
  background-color: pink;
  grid-column: 1 / span 2;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  background-image: url(https://images.unsplash.com/photo-1614521185607-c374b6c5609c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=scott-webb-DrpKaw3vWGI-unsplash.jpg&w=1920);
  background-size: cover;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 8px black;
  border-bottom: thin solid $border-color;

  sup {
    font-size: 0.8rem;
    vertical-align: super;
    margin-left: 0.25rem;
  }
}

.notifications {
  grid-column: 2;

  .panel ul {
    max-height: 12rem;
    overflow-y: scroll;
    position: relative;

    .hack {
      background: linear-gradient(transparent, #fff);
      pointer-events: none;
      display: block;
      position: sticky;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2rem;
      padding: 0;
      border: none;
    }
  }

  p {
    color: lighten($text-color, 33%);
    font-size: 0.9rem;
  }

  .toggle {
    margin-right: 1rem;
  }
}

.companies {
  grid-row: 2 / span 2;
  border-right: thin solid $border-color;
}

.interactions {
  border-top: thin solid $border-color;
  background-color: goldenrod;
}

.footer {
  grid-column: 1 / span 2;
  border-top: thin solid $border-color;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: lighten($border-color, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  .love {
    color: darkmagenta;
  }
}

.panel {
  & > header {
    display: flex;
    justify-content: space-between;
    background-color: $panel-header-bg;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.025rem;
    color: darken($panel-header-bg, 40%);
  }

  li {
    padding: 1rem 0.5rem;
    & + li {
      border-top: thin solid $border-color;
    }
  }
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin-bottom: 0.25rem;
  }
}

.company {
  header {
    display: flex;
    align-items: center;

    h3 {
      margin-right: 0.5rem;
    }

    a {
      font-size: 0.8rem;
    }
  }

  .actions {
    text-align: right;
  }
}
