/* Normalize to make browsers the same */
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');

/* Cool fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Lato:wght@400;700&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;

  /* Use the Lato font for all the text */
  font-family: 'Lato', sans-serif;

  /* Specify a background color for the entire body */
  background-color: #eee5e9;

  /* Specify a text color */
  color: #2b303a;
}

header,
footer {
  /* Use a different background color for the header */
  background-color: #2b303a;

  /* And a different font color */
  color: #eee5e9;

  /* With some padding all the way around */
  padding: 0.5rem;
}

/* Default style for all unvisited and visited links */
a:link,
a:visited {
  text-decoration: none;
  color: #d64933;
}

/* Default style for all focus/hover/active links */
a:focus,
a:hover,
a:active {
  text-decoration: underline;
}

/* Different styles for header links */
header a:link,
header a:visited {
  color: #92dce5;
}

/* Remove padding and bullet style */
ul {
  padding: 0;
  list-style: none;
}

/* Force the header lists to be UPPERCASE */
header li {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Use Calistoga font for headers, fallback to serif otherwise */
  font-family: 'Calistoga', serif;
  /* Increase the font weight */
  font-weight: 400;
  /* and remove the margins */
  margin: 0;
}
